body{
  font-weight: bold;
}
#field1{
  background-color: #2574A9;
}
#field1 legend{
  background-color: #2574A9;
}
#field2{
  background-color: #9A12B3;
}
#field2 legend{
  background-color: #9A12B3;
}
#field3{
  background-color: #DB0A5B;
}
#field3 legend{
  background-color: #DB0A5B;
}
li{
  margin: 5px;
}
button{
margin-top: 3px;
padding-top: 3px;
padding-bottom: 3px;
}
